<div class="col-xs-12 text-center">
  <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
   <img class="logo-home" src="/assets/refer/logo.png">
    <p class="slogan-home col-xs-12 hidden-xs">AUSTRALIA'S MARKETPLACE TO</br><span>BUY + SELL</span></br> PRE-OWNED DESIGNER FASHION </br><em>(Since Like...Right Now)</em></p>
    <p class="slogan-home-small col-xs-12 visible-xs">AUSTRALIA'S MARKETPLACE TO</br><span>BUY + SELL</span></br> PRE-OWNED DESIGNER FASHION </br><em>(Since Like...Right Now)</em></p>
  </div>
</div>

<div class="bottom col-xs-12 text-center">
    <div class="form-wrap clearfix col-xs-12 <%= "ended" if Rails.application.config.ended %>">
        <% if Rails.application.config.ended %>
            <p class="thanks brandon">THANK YOU FOR PARTICIPATING<br>IN OUR PRE-LAUNCH.</p>
            <p class="compiling brandon">WE ARE COMPILING REWARDS RIGHT NOW AND WILL EMAIL<br/>COUPON CODES TO ALL RECIPIENTS IN THE DAY OR TWO</p>
            <p class="go-to brandon">In the meantime, head to  <a href="http://www.harrys.com/">WWW.PULLYOURLOOK.COM.AU</a></p>
            <p class="again brandon">Thank You Again!</p>
        <% else %>
          <div class="col-xs-12 text-center">
            <div class="key"></div>
            <p class="">Be the first to know</p>
            <%= form_for @user, :url => { :action => "create" } do |f| %>
                <%= f.text_field :email, :placeholder => "Enter Email", :class => "email brandon" %>
                <input class="submit brandon" name="commit" type="submit" value="Step Inside" />
            <% end %>
          </div>
        <% end %>
    </div>
</div>